@model SurplusDeficitAutomationSystem.Models.Report

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TemplateId" class="control-label"></label>
                <select asp-for="TemplateId" class ="form-control" asp-items="ViewBag.TemplateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContractId" class="control-label"></label>
                <select asp-for="ContractId" class ="form-control" asp-items="ViewBag.ContractId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdminId" class="control-label"></label>
                <select asp-for="AdminId" class ="form-control" asp-items="ViewBag.AdminId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubmitDate" class="control-label"></label>
                <input asp-for="SubmitDate" class="form-control" />
                <span asp-validation-for="SubmitDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Approved" /> @Html.DisplayNameFor(model => model.Approved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedDate" class="control-label"></label>
                <input asp-for="ApprovedDate" class="form-control" />
                <span asp-validation-for="ApprovedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
