
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4"><a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Create a New Account</a></h1>
    <h1 class="display-4"><a class="nav-link text-dark">View Accounts</a></h1>
</div>

