
@{
    ViewData["Title"] = "Report Home";
}
<div class="text-center">
    <h1 class="display-4"><a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="NewReport">Create a New Report</a></h1>
    <p></p>
</div>
