@model IEnumerable<SurplusDeficitAutomationSystem.Models.Report>

@{
    ViewData["Title"] = "Report Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4"><a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="NewReport">Create a New Report</a></h1>
    <h1 class="display-4"><a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Details">View Report</a></h1>
</div>
<div>
    <div>
        <hr />
        <div class="row">
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-2">
                
            </div>
        </div>
    </div>
</div>