@{
    ViewData["Title"] = "Home Page";
}
<header>
    <!--<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true">
        <ul id="menu-2-07fc9e7" class="elementor-nav-menu">
            <li class="nav-link"><a href="https://www.myeldersource.org/" aria-current="page" class="menu-link elementor-item elementor-item-active">Home</a></li>
            <li class="nav-link"><a class="menu-link elementor-item">About</a>
                <ul class="sub-menu elementor-nav-menu--dropdown">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-196"><a href="https://www.myeldersource.org/about/mission-vision-guiding-principles/" class="menu-link elementor-sub-item">Mission, Vision, Guiding Principles</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-197"><a href="https://www.myeldersource.org/about/service-area-map/" class="menu-link elementor-sub-item">Service Area Map</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195"><a href="https://www.myeldersource.org/about/leadership-team/" class="menu-link elementor-sub-item">Leadership Team</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a href="https://www.myeldersource.org/about/volunteer-opportunities/" class="menu-link elementor-sub-item">Volunteer Opportunities</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-356"><a href="https://www.myeldersource.org/about/community-collaborations/" class="menu-link elementor-sub-item">Community Collaborations</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-357"><a href="https://www.myeldersource.org/about/jobs-available/" class="menu-link elementor-sub-item">Jobs Available</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-359"><a href="https://www.myeldersource.org/newsroom/" class="menu-link elementor-sub-item">Newsroom</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6941"><a href="https://www.myeldersource.org/board-login/" class="menu-link elementor-sub-item">Board Login</a></li>
                </ul>
            </li>
            <li class="nav-link">
                <a class="menu-link elementor-item">Programs &#038; Services</a>
                <ul class="sub-menu elementor-nav-menu--dropdown">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-201"><a href="https://www.myeldersource.org/programs-services/elder-helpline/" class="menu-link elementor-sub-item">Elder Helpline</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204"><a href="https://www.myeldersource.org/programs-services/medicare-help-shine-smp/" class="menu-link elementor-sub-item">Medicare Help (SHINE &#038; SMP)</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-200"><a href="https://www.myeldersource.org/programs-services/adults-with-disabilities-veterans/" class="menu-link elementor-sub-item">Adults with Disabilities &#038; Veterans</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-203"><a href="https://www.myeldersource.org/programs-services/long-term-care/" class="menu-link elementor-sub-item">Long Term Care</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-202"><a href="https://www.myeldersource.org/programs-services/eldersource-institute/" class="menu-link elementor-sub-item">ElderSource Institute</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-964">
                <a class="menu-link elementor-item">Resources</a>
                <ul class="sub-menu elementor-nav-menu--dropdown">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-361"><a href="https://www.myeldersource.org/resources/caregiver-senior-resources/" class="menu-link elementor-sub-item">Caregiver &#038; Senior Resources</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7962"><a href="https://www.myeldersource.org/caring-connections/" class="menu-link elementor-sub-item">Caring Connections</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a href="https://www.myeldersource.org/resources/virtual-caregiver-support-group/" class="menu-link elementor-sub-item">Virtual Caregiver Support Group</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a href="https://www.myeldersource.org/resources/eldersource-database/" class="menu-link elementor-sub-item">ElderSource Database</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-208"><a href="https://www.myeldersource.org/resources/elder-abuse/" class="menu-link elementor-sub-item">Elder Abuse Prevention</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210"><a href="https://www.myeldersource.org/resources/emergency-resources/" class="menu-link elementor-sub-item">Emergency Resources</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a href="https://www.myeldersource.org/resources/other-helpful-links/" class="menu-link elementor-sub-item">Other Helpful Links</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-965">
                <a class="menu-link elementor-item">Agency Highlights</a>
                <ul class="sub-menu elementor-nav-menu--dropdown">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217"><a href="https://www.myeldersource.org/agency-highlights/event-outreach-updates/" class="menu-link elementor-sub-item">Event &#038; Outreach Updates</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a href="https://www.myeldersource.org/agency-highlights/photo-album/" class="menu-link elementor-sub-item">Photo Album</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216"><a href="https://www.myeldersource.org/agency-highlights/client-stories/" class="menu-link elementor-sub-item">Client Stories</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215"><a href="https://www.myeldersource.org/agency-highlights/agency-updates/" class="menu-link elementor-sub-item">Agency Updates</a></li>
                </ul>
            </li>
        </ul>
    </nav>-->
</header>
<div class="text-center">
    <h1 class="display-4">Welcome, This Is The Home Page for ElderSource.</h1>
    <p></p>
</div>
