@{
    ViewData["Title"] = "Home Page";
    @*Layout = null;*@
}

<link rel="stylesheet" href="~/css/site.css" />


<html>
<head>
    <style>
        .square {
            color: black;
            border-style: solid;
            border-width: 2px;
            width: 300px;
            height: 300px;
            text-align: center;
            margin: 10px;
            border-radius: 25px;
            padding: 20px;
            float: left;
            display: inline;
        }
        .nav-item {
            font-family: Garamond;
            font-size: 28px;
            font-weight: bold;
            color: #405361;
            padding-left: 6px;
            padding-right: 6px;
            padding-top: 18px;
            padding-bottom: 18px;
            margin-bottom:auto;
        }
    </style>
</head>
<body>
    <div class="square">
        <h3 class="nav-item">Provider Reports Page</h3>
        <div class="nav-item">
            <p><a class="nav-item" id="reports" asp-area="Views" asp-page="/Report/Index">Reports</a></p>
        </div>
    </div>
    <div class="square">
        <h3 class="nav-item">Templates Page</h3>
        <div class="nav-item">
            <p class="nav-item" id="templates">Templates</p>
        </div>
    </div>
    <div class="square">
        <h3 class="nav-item">Providers Settings Page</h3>
        <div class="nav-item">
            <p class="nav-item" id="settings">Settings</p>
        </div>
    </div>
  <div class="text-center">
    <h1 class="display-4">Welcome To The ElderSource Provider Portal!</h1>
    <p>Work in Progress</p>
</div>
</body>
</html>

    
